body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

h1 {
    margin-bottom: 20px;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(6, 100px);
    grid-gap: 10px;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #ad0000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.card.flipped {
    background-color: #000000;
    color: #ff00ea;
}

.card.matched {
    background-color: #00ff37;
    cursor: default;
}

@media (max-width: 600px) {
    #game-board {
        display: grid;
        grid-template-columns: repeat(5, 60px);
        grid-gap: 10px;
    }
    .card {
        width: 60px;
        height: 60px;
    }
  }